body {
    font-family: "calibri light", sans-serif, "Open Sans", "Gill Sans", "Gill Sans MT", "Trebuchet MS";
    color: rgb(42, 70, 69);
    background-color: rgb(231, 248, 244);
    margin-left: 30px;
}

h2 {
    color: rgb(75, 90, 85);
    font-size: 32px;
    margin-left: 10px;
}

h3 {
    color: rgb(103, 124, 122);
    font-size: 26px;
    margin-left: 10px;
}

.nav {
    list-style-type: none;
    /* overflow: hidden; */
    background-color:rgb(42, 190, 158);
    padding: 18px 22px;
    font-family: "calibri";
    font-size: 20px;
}

.nav-index {
    /* float: left; */
    display: inline;
    padding: 18px 22px;
}

.nav-index a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.active {
    /* color:white; */
    background-color:rgb(36, 163, 136);
    /* padding: 18px 22px; */
} 

.nav-index > a:hover {
    color: rgb(28, 117, 98);
}

main {
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
    /* padding-bottom: 300px; */
}

/* .chartContainer {
    height: 300px;
    width: 50%;
    padding: 30px;
} */

.sidebar-nav {
    width: 170px;
    list-style-type: none;
    /* padding: 18px 22px; */
    font-family: "calibri";
    font-size: 18px;
    margin-left: -80px;
}

.sidebar-nav .active {
    background-color: rgb(231, 248, 244);
}

.sidebar-nav a {
    text-decoration: none;
    color: rgb(36, 163, 136);
    text-align: left;
}

.side-nav {
    width: 170px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(49, 214, 178);
    border: 1px solid rgb(36, 163, 136);
    border-radius: 20px 10px;
}

.side-nav .active {
    color: rgb(36, 163, 136);
    border: 1px solid rgb(49, 214, 178);
}

.side-nav > a:hover > .side-nav{
    color: rgb(28, 117, 98);
}

.sidebar {
    display: inline-block;
    width: 170px;
    vertical-align: top;
}

.main-section {
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;
}

form {
    display: inline-block;
    min-width: 100%;
}

label {
    /* min-width: 100px; */
    color: rgb(103, 124, 122);
    font-size: 18px;
    margin-right: 10px;
    margin-top: 9px;
    margin-bottom: 8px;
    float:left;
}

form input {
    width: 250px;
    height: 25px;
    margin: 5px;
    float: right;
    border: 1px solid rgb(36, 163, 136);
    border-radius: 5px;
}

.form-group {
    float: none;
    /* display: inline-block; */
    vertical-align: middle;  
    /* justify-content: center;
    align-items: center; */
}

.btn {
    background-color: red;
    width: 350px;
    height: 40px;
    margin: 5px;
    float: right;
    border: 1px solid rgb(36, 163, 136);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}